.pr-list {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.each-pr{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pr-title{
    font-weight: 550;
}

.label-section{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.full-section{
    display: flex;
    justify-content: space-between;
}

.review-status{
    padding: 0.3rem;
    border-radius: 10px;
}